
.cardContainer {
  width: 320px;
  height: 480px;

  border: 4px solid var(--observatory-600);
  border-radius: 12px;

  background-color: var(--white-100);
  color: var(--observatory-600);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageCard {
  width: 124px;
  height: 124px;

  border-radius: 8px;

  margin-top: 24px;
}

.cardName {
  margin-top: 24px;

  font-size: 32px;
  font-weight: 700;
}

.cardEmail {
  margin-top: 12px;

  font-size: 18px;
}

.cardBirthday {
  margin-top: 12px;

  font-size: 18px;
}

.cardGender {
  margin-top: 12px;

  font-size: 18px;
}

.cardLanguage {
  margin-top: 12px;

  font-size: 18px;
}

.buttonCardContainer {
  display: flex;

  gap: 16px;

  margin-top: 48px;
}

.cardButtonEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 140px;
  height: 64px;

  border: 0;
  border-radius: 8px;

  background-color: var(--curious-blue-600);
  color: var(--white);

  font-size: 18px;
  font-weight: 700;

  cursor: pointer;

  transition: all 0.4s;

  &:hover {
    background-color: #0ca3eb;
  }
}

.cardButtonDelete {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 140px;
  height: 64px;

  border: 0;
  border-radius: 8px;

  background-color: var(--cardinal-700);
  color: var(--white);

  font-size: 18px;
  font-weight: 700;

  cursor: pointer;

  transition: all 0.4s;

  &:hover {
    background-color: #f60842;
  }
}