.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}

.image {
  width: 450px;
  height: 214px;

  margin-top: 42px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;

  gap: 42px;

  margin-top: 72px;
}

.footerContainer {
  width: 100%;
  height: 62px;

  background-color: var(--observatory-600);

  margin-top: 336px;
}